<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to JBoss!</title>
</head>
<body>
<div id="container">

  <div class="dualbrand">
    <img src="assets/gfx/rhjb_eap_logo.png" width="300" height="175"/>
  </div>
  <div id="content">

    <h1>Welcome to JBoss!</h1>
    <div>
      <p>You have successfully deployed a Jakarta EE Enterprise Application.</p>
    </div>

    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
      <h2>Member Registration</h2>
      <p>Enforces annotation-based constraints defined on the model class.</p>
      <div *ngIf="errorMessage">
        <span class="invalid">{{ errorMessage }}</span>
      </div>

      <table>
        <tbody>
        <tr>
          <td><label class="titleCell" for="name">Name:</label></td>
          <td><input type="text" id="name" required formControlName="name" name="name"/></td>
          <td><span
            *ngIf="memberForm.controls.name?.errors?.required && (memberForm.controls.name.touched || memberForm.controls.name.dirty)"
            class="invalid">Name is required</span>
            <span
              *ngIf="memberForm.controls.name?.errors && (memberForm.controls.name.touched || memberForm.controls.name.dirty)"
              class="invalid">{{ memberForm.controls.name.errors?.name }}</span>

          </td>
        </tr>
        <tr>
          <td><label class="titleCell" for="email">Email:</label></td>
          <td><input type="email" id="email" required formControlName="email" name="email"/></td>
          <td>
            <span
              *ngIf="memberForm.controls.email?.errors?.required && (memberForm.controls.email.touched || memberForm.controls.email.dirty)"
              class="invalid">Email is required</span>
            <span
              *ngIf="memberForm.controls.email?.errors && (memberForm.controls.email.touched || memberForm.controls.email.dirty)"
              class="invalid">Must be a well-formed email address</span>

          </td>
        </tr>
        <tr>
          <td><label for="phoneNumber">Phone #:</label></td>
          <td><input type="text" id="phoneNumber" required formControlName="phoneNumber" name="phoneNumber"/></td>
          <td><span
            *ngIf="memberForm.controls.phoneNumber?.errors?.required && (memberForm.controls.phoneNumber.touched || memberForm.controls.phoneNumber.dirty)"
            class="invalid">    Phone number is required
</span>
            <span
              *ngIf="memberForm.controls.phoneNumber?.errors && (memberForm.controls.phoneNumber.touched || memberForm.controls.phoneNumber.dirty)"
              class="invalid">{{ memberForm.controls.phoneNumber.errors?.phoneNumber }}</span>
            <span
              *ngIf="memberForm.controls.phoneNumber?.errors?.minlength && (memberForm.controls.phoneNumber.touched || memberForm.controls.phoneNumber.dirty)"
              class="invalid">
    Phone number must be at least 10 characters long
  </span>
            <span
              *ngIf="memberForm.controls.phoneNumber?.errors?.maxlength && (memberForm.controls.phoneNumber.touched || memberForm.controls.phoneNumber.dirty)"
              class="invalid">
              Phone number cannot be more than 12 characters long</span>
            <span
              *ngIf="memberForm.controls.phoneNumber?.errors?.pattern && (memberForm.controls.phoneNumber.touched || memberForm.controls.phoneNumber.dirty)"
              class="invalid">
      Phone number must contain only digits
    </span>


          </td>
        </tr>
        </tbody>
      </table>
      <p>
      <table>
        <tbody>
        <tr>
          <td>
            <button type="submit" class="register" [disabled]="memberForm.invalid">Register</button>
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </form>

    <h2>Members</h2>
    <div *ngIf="members.length === 0">
      <em>No registered members.</em>
    </div>
    <table *ngIf="members.length > 0" class="simpletablestyle">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone #</th>
        <th>REST URL</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let member of members">
        <td>{{ member.id }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
        <td>{{ member.phoneNumber }}</td>

        <td><a href="#"
               (click)="openNewTab(getMemberById(member.id)); $event.preventDefault();">/members/{{ member.id }}</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">REST URL for all members: <a a href="#"
                                                     (click)="openNewTab(getMembers()); $event.preventDefault();">/members</a>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

  <div id="aside">
    <p>Learn more about Red Hat JBoss Enterprise Application Platform.</p>
    <ul>
      <li><a href="https://access.redhat.com/documentation/en/red-hat-jboss-enterprise-application-platform/">Documentation</a>
      </li>
      <li><a href="http://www.redhat.com/en/technologies/jboss-middleware/application-platform">Product Information</a>
      </li>
    </ul>
  </div>
  <div id="footer">
    <p>
      This project was generated from a Maven archetype from JBoss.<br/>
    </p>
  </div>
</div>
</body>
</html>
